*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
  }
  body {
    color: #24292e;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  li {
    list-style: none;
  }
  
  .wrapper {
    max-width: 960px;
    margin: 0 auto 0 auto;
    font-size: 0.9rem;
    padding: 0 4%;
  }
  /* h1 */
  .site-title {
    line-height: 1em;
  }
  .site-title a {
    display: block;
  }
  /* h2 */
  .sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
  }
  
  
  
  /*-------------------------------------------
  SP
  -------------------------------------------*/
  @media screen and (max-width: 600px) {
    .wrapper {
      margin-bottom: 70px;
    }
    .site-title {
      margin-top: 20px;
    }
    .sec-title {
      margin-bottom: 40px;
    }
  }
  
  /*-------------------------------------------
      header
  -------------------------------------------*/
  
  #header {
      max-width: 960px;
      display: flex;                  
      justify-content: space-between; 
      align-items: center;            
      height: 270px;
      margin: 0 auto;
      padding: 0 4%;
    }
    #header ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1em;           
      padding: 10px 0;
    }
    #header li {
      font-size: 0.9rem;
    }
    #header li a {
      color: #24292e;
    }
    #header li a:hover {
      opacity: 0.7;                  
    }
    #header li img.icon {
      width: 20px;
    }
  
    
    
    /*-------------------------------------------
    SP
    -------------------------------------------*/
    @media screen and (max-width: 600px) {
    
      /*-------------------------------------------
      header
      -------------------------------------------*/
      #header {
        max-width: 100%;
        height: auto;
        flex-direction: column;   
      }
      #header li {
        font-size: 0.8rem;
        margin-left: 20px;
      }
      #header li:first-child {
        margin-left: 0;
      }
    }
  
  
  /*-------------------------------------------
  Title
  -------------------------------------------*/
  #title{
    display: block;
    margin: auto;
    width: 70vw;
  }
  
  /*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
    display: block;
    margin: 0 auto;
  }
  
  #mainvisual img {
    width: 70vw;
    max-width: 1920px;  
    height: auto;     
    object-fit: cover; 
  }
  
  img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
  
  
  
  
  /*-------------------------------------------
  About artwork
  -------------------------------------------*/
  
  
  
  /* #left-container{
    width: 60vw;
    background: lightblue;
    position: fixed;
  }
  
  #right-container{
    max-width: 40vw;
    background: pink;
    position: fixed;
    left: 60vw;
  } */
  
  .two-column-container {
    display: grid;
    margin: auto;
    width: 70vw;
    grid-template-columns: 3fr 2fr;
    padding: 1rem;
    
  }
  
  
  .flex-container {
    padding: .5rem;
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .item {
    background: yellow;
    margin: .25rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  
  .slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:80%;
    margin:0 auto;
    
  }
  
  .slick-slide {
    margin: 0px 20px;
    display: flex; /* 追加 */
    align-items: center; /* 追加 */
  }
  
  .slick-slide img{
    margin: 0 auto;
    width: 50vw;
    height: auto;
  }
  
  .slick-track { /* 追加 */
    display: flex;
    align-items: center;
  }
  
  
  .slick-prev:before,
  .slick-next:before {
    color: gray;
  }
  
  .slick-slide {
    transform: scale(0.8);/*左右の画像のサイズを80%に*/
      transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
      opacity: 0.5;/*透過50%*/
  }
  
  .slick-active{
    opacity: .5;
  }
  
  .slick-current {
    opacity: 1;
  }